* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: antiquewhite;
}

header {
    background-color: chocolate;
    background-image: radial-gradient(rgb(150, 5, 5), rgb(184, 108, 8));
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
}

.logo {
    width: 200px;
    height: 50px;
    align-self: center;
}

nav {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    
}

nav a {
    
    color: rgb(5, 19, 34);
    text-decoration-style: double;
    font-family: 'Black Ops One', cursive;
}

main {
    text-align: center;
    margin: 200px;
    line-height: 20px;
    word-spacing: 5px;
    font-family: 'Monoton', cursive;

}

main h2 {
    padding: 7px;
}

main p {
    padding: 7px;
}

footer {
    background-color: chocolate;
    background-image:  radial-gradient(rgb(150, 5, 5), rgb(184, 108, 8));
    border: 1px solid black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 5px;
    color: rgb(5, 19, 34);
    font-family: 'Black Ops One', cursive;
}

footer a {
    text-decoration-style: double;
    color: rgb(5, 19, 34);
    
}

section {
    text-align: center;
    
}




